

#vid1
{
    position:absolute;
    right: 5px;
}

#vid2
{
    position:absolute;
    right: 5px;
}

#vid3
{
    position:absolute;
    right: 5px;
}

#vid4
{
    position:absolute;
    right: 5px;
}

#vid5
{
    position:absolute;
    right: 5px;
}

#vid6
{
    position:absolute;
    right: 5px;
}

#vid7
{
    position:absolute;
    right: 5px;
}

#vid8
{
    position:absolute;
    right: 5px;
}

#vid9
{
    position:absolute;
    right: 5px;
}